services:
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:10.10.7
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - DOCKER_MODS=linuxserver/mods:jellyfin-amd
    volumes:
      - /mnt/pangaea/jellyfin/config:/config
      - /mnt/pangaea/jellyfin/cache:/cache
      - type: bind
        source: /mnt/pangaea/shared_data/Movies
        target: /data/movies
      - type: bind
        source: /mnt/pangaea/shared_data/TV_Shows
        target: /data/tvshows
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd

  samba:
    container_name: samba
    image: dperson/samba:latest
    restart: unless-stopped
    ports:
      - "139:139"
      - "445:445"
      - "137:137/udp"
      - "138:138/udp"
    environment:
      - TZ=America/New_York
    volumes:
      - type: bind
        source: /mnt/pangaea/shared_data
        target: /mnt/pangaea/shared_data
    command: -s "Pangaea;/mnt/pangaea/shared_data;yes;no;yes" -n

  grafana:
    image: grafana/grafana-oss:11.3.0
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=
      - GF_AUTH_ANONYMOUS_ENABLED=false
    volumes:
      - /mnt/pangaea/grafana:/var/lib/grafana

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.101.0
    container_name: victoriametrics
    restart: unless-stopped
    volumes:
      - /mnt/pangaea/vmdata:/storage
    command:
      - "--storageDataPath=/storage"
      - "--httpListenAddr=:8428"
      - "--retentionPeriod=3y"
      - "--dedup.minScrapeInterval=1s"

  influxdb:
    image: influxdb:2
    container_name: influxdb
    ports:
      - 8086:8086
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb-admin-username
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb-admin-password
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb-admin-token
      DOCKER_INFLUXDB_INIT_ORG: docs
      DOCKER_INFLUXDB_INIT_BUCKET: home
    secrets:
      - influxdb-admin-username
      - influxdb-admin-password
      - influxdb-admin-token
    volumes:
      - /mnt/pangaea/influxdb/data:/var/lib/influxdb2
      - /mnt/pangaea/influxdb/config:/etc/influxdb2
      - /mnt/pangaea/influxdb/admin-username:/run/secrets/influxdb-admin-username:ro
      - /mnt/pangaea/influxdb/admin-password:/run/secrets/influxdb-admin-password:ro
      - /mnt/pangaea/influxdb/admin-token:/run/secrets/influxdb-admin-token:ro

  speed_test_exporter:
    image: ghcr.io/richiesams/speedtest-exporter:v0.1.0
    container_name: speed_test_exporter
    restart: unless-stopped

  vmagent:
    image: victoriametrics/vmagent:v1.105.0
    container_name: vmagent
    restart: unless-stopped
    command:
      - -promscrape.config=/scrape-config.yaml
      - -remoteWrite.url=http://victoriametrics:8428/api/v1/write
    volumes:
      - ./scrape-config.yaml:/scrape-config.yaml

  alertmanager:
    image: prom/alertmanager:v0.28.1
    container_name: alertmanager
    restart: unless-stopped
    volumes:
      - ./alertmanager.yaml:/etc/alertmanager/alertmanager.yml
      - /mnt/pangaea/alertmanager/secrets:/secrets

  vmalert:
    image: victoriametrics/vmalert:v1.128.0
    container_name: vmalert
    restart: unless-stopped
    command:
      - -rule=/alert-rules.yaml
      - -datasource.url=http://victoriametrics:8428
      - -notifier.url=http://alertmanager:9093
      - -remoteWrite.url=http://victoriametrics:8428
      - -remoteRead.url=http://victoriametrics:8428
    volumes:
      - ./alert-rules.yaml:/alert-rules.yaml

  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:latest
    container_name: nebula-sync
    restart: unless-stopped
    env_file: /mnt/pangaea/nebula/.env
    environment:
      - FULL_SYNC=true
      - RUN_GRAVITY=true
      - CRON=0 * * * *

  ddclient:
    image: lscr.io/linuxserver/ddclient:4.0.0
    container_name: ddclient
    restart: unless-stopped
    env_file: /mnt/pangaea/ddclient/.env
    environment:
      - TZ=America/New_York
    volumes:
      - ./ddclient.conf:/config/ddclient.conf

  haproxy:
    image: haproxytech/haproxy-alpine-quic:3.2
    container_name: haproxy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443/tcp
      - 443:443/udp
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - /mnt/pangaea/haproxy/certs:/certs

  certbot:
    image: ghcr.io/richiesams/certbot_cron:v0.1.0
    container_name: certbot
    restart: unless-stopped
    volumes:
      - ./certbot-crontab:/certbot-crontab
      - ./reload-haproxy.sh:/reload-haproxy.sh
      - ./renew-certs.sh:/renew-certs.sh
      - /mnt/pangaea/certbot/porkbun.ini:/conf/porkbun.ini:ro
      - /mnt/pangaea/certbot/letsencrypt:/etc/letsencrypt
      - /mnt/pangaea/certbot/logs:/var/log/letsencrypt
      - /mnt/pangaea/haproxy/certs:/certs
      # So we can reload haproxy
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - /certbot-crontab
